<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ article.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="article.picture_path ? article.picture_path : '../../assets/imgs/articles/icon.png'"></ion-img>
  <div padding>
    <h1>{{ article.title }}</h1>
    <p style="word-wrap: break-word;" innerHTML="{{ article.body }}"></p>
    <ion-button *ngIf="!articleFavorited" expand="block" (click)="favorite()">Favorite<ion-icon name="star" slot="end"></ion-icon></ion-button>
    <ion-button color="danger" *ngIf="articleFavorited" expand="block" (click)="unfavorite()">Unfavorite<ion-icon name="star" slot="end"></ion-icon></ion-button>
  </div>
</ion-content>
