<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create Article</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input [(ngModel)]="article.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Body</ion-label>
      <textarea [(ngModel)]="article.body" rows="4"></textarea>
    </ion-item>
    <ion-item>
      <ion-label>Subject</ion-label>
      <ion-select [(ngModel)]="article.subject" placeholder="Select a subject" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="food">Food</ion-select-option>
        <ion-select-option value="medicine">Medicine</ion-select-option>
        <ion-select-option value="technology">Technology</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
      </ion-select>
    </ion-item>
  <ion-button (click)="photoActionSheet()" expand="block" color="primary">Article Picture<ion-icon name="camera" slot="end"></ion-icon></ion-button>
  <ion-button margin-top (click)="createArticle()" expand="block" color="success">Submit</ion-button>
</ion-content>
