<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-img class="article-image" src="../../assets/imgs/articles/icon.png"></ion-img>
  </ion-row>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-button color="primary" margin-top expand="block" (click)="login(user)">Login</ion-button>
  <ion-button color="primary" routerLink="/register" margin-top expand="block" fill="clear">No account? Register!</ion-button>
</ion-content>
